
%ul.breadcrumb
  %li=t(:file_list_all)

%table.table.table-striped
  %thead
    %tr
      %th=t(:file_name)
      %th=t(:created_at)
      %th=''
  %tbody
    -@files.each do |f|
      %tr
        %td=link_to f.name, url(:show, f.name)
        %td=f.created_at
        %td
          %i.icon-remove
          =link_to t(:delete), url(:destroy, :id => f.name), :method => :delete, :onclick => "return confirm('Are you sure ?')"