
%ul.breadcrumb
  %li='File list'

%table.table.table-striped
  %thead
    %tr
      %th='file name'
      %th='created at'
      %th=''
  %tbody
    -@files.each do |f|
      %tr
        %td=link_to f.name, url(:show, f.name).encode
        %td=f.created_at
        %td=link_to '', url(:destroy, :id => f.name), :method => :delete, :class => 'icon-remove', :onclick => "return confirm('Are you sure ?')"