%ul.breadcrumb{:style => 'margin-bottom: 0px'}
  %li=@file_name
  %li{:style => 'float:right'}
    %i.icon-picture
    %a{:href => "/files/#{@file_name}"}=t(:full_screen)
    =' | '
    %i.icon-share-alt
    =link_to t(:back), url(:index)


%embed{ :height => '850px', :width => '100%', :name => :plugin, :type => "application/pdf", :src => "/files/#{@file_name}" }