!!! 5
%html
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}
    %title PDF reader
    =stylesheet_link_tag "/stylesheets/bootstrap"
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }
    =yield_content :head
  %body
    .navbar.navbar-fixed-top
      .navbar-inner
        .container-fluid
          =link_to t(:title), url(:index), :class => 'brand', :style => 'float:center'

    .container-fluid
      .row-fluid
        .span2
          .well.sidebar-nav
            %ul.nav.nav-list
              %li.nav-header=t(:menu)
              %li{ :class => is_active(:other)}=link_to t(:file_list), url(:index)
              %li{ :class => is_active(:new)}=link_to t(:upload_file), url(:new)
              %li=link_to '', '#'
              %li=link_to '', '#'
        .span10
          =yield

  -#
    .header
      = yield_content :body_head
    #flash_info
      .flash=[:error, :warning, :notice].map { |type| flash_tag(type, :class => "message #{type}") }.join
    .main
      =yield
